# EmailJS Configuration
VITE_EMAILJS_PUBLIC_KEY=6HAJNZGN9-3MkC1n6
VITE_EMAILJS_SERVICE_ID=service_dtt75bd
VITE_EMAILJS_TEMPLATE_ID=template_g1cjyr8

# Password Reset Configuration
VITE_RESET_PASSWORD_URL=https://myjobs-frontend.onrender.com/reset-password
